
<form (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
        <label>Project Name:</label>
        <select [(ngModel)]="formData.projectId" name="id" required>
          <option
            *ngFor="let item of availableIds; let i = index"
            value="{{ item.id }}"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
  <div class="form-group">
    <label>Meeting Date:</label>
    <input type="text" [(ngModel)]="formData.meetingDate" name="meetingDate" required />
  </div>
  <div class="form-group">
    <label>MOM Link  :</label>
    <input type="text" [(ngModel)]="formData.moMLink" name="moMLink" required />
  </div>
  <div class="form-group">
    <label>Comments :</label>
    <input type="text" [(ngModel)]="formData.comments" name="comments" required />
  </div>
  <div class="form-group">
    <label>Duration :</label>
    <input type="text" [(ngModel)]="formData.duration" name="duration" required />
  </div>
  
  <button type="submit" class="submit-button">Submit</button>
</form>

<table class="table-container" #content>
  <thead>
    <tr>
      <th>Id</th>
      <th>Meeting Date</th>
      <th>MOM Link</th>
      <th>Comments</th>
      <th>Duration </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects; let i = index">
      <td>{{item.projectId}}</td>
      <td>{{ item.meetingDate }}</td>
      <td>{{ item.moMLink }}</td>
      <td>{{ item.comments }}</td>
      <td>{{item.duration}}</td>
      <td>
        <button (click)="delete(item.id)" class="action-button">
          <i class="material-icons">delete</i>
        </button>
        <button class="action-button">
          <i class="material-icons">edit</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
