/* CSS for Container */
.container {
  display: flex;
  height: 100vh; /* Set full height */
}

/* CSS for Sidebar */
.sidenav-container {
  width: 200px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  overflow-y: auto; /* Enable vertical scrolling */
}

.sidenav {
  padding: 20px;
}

.sidebar-button {
  display: flex;
  align-items: center; /* Align items vertically */
  width: 100%;
  text-align: left;
  padding: 12px 20px; /* Increase padding */
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Add smooth transition */
}

.sidebar-button:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}

.sidebar-button mat-icon {
  margin-right: 10px; /* Add spacing between icon and text */
}

/* Adjust text color and font size */
.sidebar-button span {
  color: #333;
  font-size: 16px;
}

/* CSS for Navbar */
.navbar {
  flex: 1;
  padding: 10px;
}

.nav-item {
  display: inline-block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s; /* Add smooth transition */
}

.nav-item:hover {
  color: #007bff; /* Change text color on hover */
}

/* CSS for Mat Toolbar */
.mat-toolbar {
  background-color: #2196f3; /* Change toolbar background color */
  color: white; /* Change text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.navbar-left {
  flex: 1;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* CSS for Mat Icon */
::ng-deep .mat-form-field-prefix .mat-icon {
  margin-right: 5px;
}
.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: white; /* Change color as desired */
}


.loginBtn {
  width: 20%;
  padding: 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 10px;
}
.search-bar {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  width: 500px; /* Adjust width as desired */
}

.search-bar:focus {
  outline: none;
  border-color: #007bff; /* Change focus border color as desired */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change focus box shadow as desired */
}

/* Placeholder color */
.search-bar::placeholder {
  color: #aaa; /* Adjust placeholder color as desired */
}
