<button id="download-btn" (click)="makePdf()">Download</button>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>ID:</label>
    <select [(ngModel)]="formData.projectId" name="id" required>
      <option *ngFor="let item of availableIds; let i = index" value="{{item.id}}">{{ item.name }}</option>
    </select>
  </div>
  <div>
    <label>Audit Date:</label>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="formData.audit" name="auditDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <label>Review By:</label>
    <input type="text" [(ngModel)]="formData.reviewedBy" name="createdBy" required />
  </div>
  <div>
    <label>Status :</label>
    <input type="text" [(ngModel)]="formData.status" name="status" required />
  </div>
  <div>
    <label>Review section</label>
    <input type="text" [(ngModel)]="formData.reviewedSection" name="review" required />
  </div>
  <div>
    <label>Comment:</label>
    <input type="text" [(ngModel)]="formData.comment" name="comment" required />
  </div>
  <div>
    <label>Action Item:</label>
    <input type="text" [(ngModel)]="formData.actionItem" name="action" required />
  </div>
  <button type="submit">Submit</button>
</form>
<div >
  <table id="content" #content>
    <thead>
      <tr>
        <th>Audit Date</th>
        <th>Review By</th>
        <th>Status</th>
        <th>Review Section</th>
        <th>Comment</th>
        <th>Action Item</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projects; let i = index">
        <td>{{ item.audit }}</td>
        <td>{{ item.reviewedBy }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.reviewedSection }}</td>
        <td>{{ item.comment }}</td>
        <td>{{ item.actionItem }}</td>
        <td>
          <button (click)="delete(item.id)">
            <i class="material-icons">delete</i></button
          ><button (click)="edit(item)">
            <i class="material-icons">edit</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
