<button id="download-btn" (click)="makePdf()" mat-raised-button color="primary">Download</button>

<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>ID:</mat-label>
      <mat-select [(ngModel)]="formData.projectId" name="id" required>
        <mat-option *ngFor="let item of availableIds" [value]="item.id">{{ item.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Risk Type:</mat-label>
      <input matInput type="number" [(ngModel)]="formData.riskType" name="riskType" required />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Severity:</mat-label>
      <input matInput type="number" [(ngModel)]="formData.severity" name="severity" required />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Impact:</mat-label>
      <input matInput type="number" [(ngModel)]="formData.impact" name="impact" required />
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>

<table #content class="table-container ">
  <thead>
    <tr>
      <th>Project Id</th>
      <th>Risk Type</th>
      <th>Severity</th>
      <th>Impact</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects; let i = index">
      <td>{{ item.id }}</td>
      <td>{{ item.riskType }}</td>
      <td>{{ item.severity }}</td>
      <td>{{ item.impact }}</td>
      <td>
        <button
          mat-raised-button
          color="warn"
          (click)="delete(item.id)"
          class="action-button"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
