<button id="download-btn" (click)="makePdf()">Download</button>
<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <label>ID:</label>
    <select [(ngModel)]="formData.projectId" name="id" required>
      <option *ngFor="let item of availableIds; let i = index" value="{{item.id}}">{{ item.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Risk Type</label>
    <input type="number" [(ngModel)]="formData.riskType" name="riskType" required />
  </div>
  <div class="form-group">
    <label>Severity</label>
    <input type="number" [(ngModel)]="formData.severity" name="severity" required />
  </div>
  <div class="form-group">
    <label>Impact:</label>
    <input type="number" [(ngModel)]="formData.impact" name="impact" required />
  </div>

  <button type="submit" class="submit-button">Submit</button>
</form>

<table class="table-container" #content>
  <thead>
    <tr>
      <th>Project Id</th>
      <th>Risk Type</th>
      <th>Severity</th>
      <th>Impact</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects; let i = index">
      <td>{{ item.id }}</td>
      <td>{{ item.riskType }}</td>
      <td>{{ item.severity }}</td>
      <td>{{ item.impact }}</td>
      <td>
        <button (click)="delete(item.id)" class="action-button">
          <i class="material-icons">delete</i>
        </button>
        <button class="action-button">
          <i class="material-icons">edit</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
