<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <label>ID:</label>
    <select [(ngModel)]="formData.projectId" name="id" required>
      <option
        *ngFor="let item of availableIds; let i = index"
        value="{{ item.id }}"
      >
        {{ item.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Title:</label>
    <input type="text" [(ngModel)]="formData.title" name="title" required />
  </div>
  <div class="form-group">
    <label>Start Date:</label>
    <input
      type="text"
      [(ngModel)]="formData.startDate"
      name="startDate"
      required
    />
  </div>
  <div class="form-group">
    <label>End Date:</label>
    <input type="text" [(ngModel)]="formData.endDate" name="endDate" required />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <input
      type="text"
      [(ngModel)]="formData.description"
      name="description"
      required
    />
  </div>
  <div class="form-group">
    <label> Comments:</label>
    <input
      type="text"
      [(ngModel)]="formData.comments"
      name="comments"
      required
    />
  </div>
  <div class="form-group">
    <label> Status:</label>
    <input type="number" [(ngModel)]="formData.status" name="status" required />
  </div>
  <button type="submit" class="submit-button">Submit</button>
</form>

<table class="table-container" #content>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Description</th>
      <th>comments</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects; let i = index">
      <td>{{ item.projectId }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.startDate }}</td>
      <td>{{ item.endDate }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.comments }}</td>
      <td>{{ item.status }}</td>
      <td>
        <button (click)="delete(item.id)" class="action-button">
          <i class="material-icons">delete</i>
        </button>
        <button class="action-button">
          <i class="material-icons">edit</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
