/* CSS for Form Container */
.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* CSS for Form Group */
.form-group {
  display: flex;
  flex-direction: column;
}

/* CSS for Table Container */
.table-container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* CSS for Table Header */
.table-container th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}

/* CSS for Table Body */
.table-container td {
  padding: 8px;
}


.action-button mat-icon {
  color: #777;
}

.action-button:hover mat-icon {
  color: #333;
}
/* CSS for Button */
button[type="submit"],
button#download-btn {
  background-color: #4caf50;
  color: white;
  padding: 6px 16px; /* Adjust padding to make the button smaller */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: auto; /* Allow the button width to adjust based on content */
  font-size: 14px; /* Adjust font size to match the smaller button */
}

button[type="submit"]:hover,
button#download-btn:hover {
  background-color: #45a049;
}
