<button id="download-btn" (click)="makePdf()">Download</button>

<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>ID:</mat-label>
      <mat-select [(ngModel)]="formData.id" name="id" required>
        <mat-option *ngFor="let item of availableIds" [value]="item.id">{{
          item.id
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        [(ngModel)]="formData.startDate"
        name="startDate"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        [(ngModel)]="formData.endDate"
        name="endDate"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Status:</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="formData.status"
        name="status"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Comments:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.comments"
        name="comments"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Goals:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.goals"
        name="goals"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Sprint Number:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="formData.sprintNumber"
        name="sprintNumber"
        required
      />
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>

<table #content class="table-container">
  <thead>
    <tr>
      <th>Version</th>
      <th>Type</th>
      <th>Change</th>
      <th>Change Reason</th>
      <th>Created By</th>
      <th>Revision Date</th>
      <th>Approval Date</th>
      <th>Approved By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects; let i = index">
      <td>{{ item.version }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.change }}</td>
      <td>{{ item.changeReason }}</td>
      <td>{{ item.createdBy }}</td>
      <td>{{ item.revisionDate }}</td>
      <td>{{ item.approvalDate }}</td>
      <td>{{ item.approvedBy }}</td>
      <td>
        <button
          mat-raised-button
          color="warn"
          (click)="delete(item.id)"
          class="action-button"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
