/* CSS for styling the mat-toolbar */
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  flex: 1;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* CSS for adjusting mat-icon */
::ng-deep .mat-form-field-prefix .mat-icon {
  margin-right: 5px;
}
